<main>
   
    <nav class="navBar">
      <div class="toggler" (click)="toggleSideNav = !toggleSideNav"><h3>&#9776;</h3></div>
      
        <h2 >Library Management System</h2>
      
      <div class="user">
        <span>{{username}}</span><i class='fa fa-user-circle userIcon' (click)="toggleLogoutDropdown()"></i>
        <div class="logout-dropdown" *ngIf="showLogoutDropdown">
          <a (click)="logout()">Logout</a>
          <a [routerLink]="['/editprofile']" [queryParams]="{ userType: userType , username:username}">Edit Profile</a>

        </div>
      </div>
    </nav>
    <div class="b-container">
      <div class="side-nav" [class.open]="toggleSideNav">
        <a [routerLink]="['/viewbook']" [queryParams]="{ userType: userType ,username:username }"> Books</a>
        <a [routerLink]="['/viewpatron']" [queryParams]="{ userType: userType ,username:username }"> Patrons</a>
        
      </div>
      <div class="content"> 
        <div class="container">
            <div class="row">
                <div class="form_bg">
                    <h4>Add Book</h4>
                    <form [formGroup]="addBookForm" (ngSubmit)="addBook()">
                        <div class="form-group">
                            <input type="number" formControlName="isbn" placeholder="ISBN number">
                            <span  *ngIf="addBookForm.controls['isbn'].hasError('required') && addBookForm.controls['isbn'].touched" class="error">Book ISBN  required and MaxLength is 13 only!</span>
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="title" placeholder="Title">
                            <span  *ngIf="addBookForm.controls['title'].hasError('required') && addBookForm.controls['title'].touched" class="error">Book title  required!</span>
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="author" placeholder="Author">
                            <span  *ngIf="addBookForm.controls['author'].hasError('required') && addBookForm.controls['author'].touched" class="error">Book author  required!</span>
                        </div>
                        <div class="form-group">
                            <input type="number" formControlName="quantity" placeholder="Quantity">
                            <span  *ngIf="addBookForm.controls['quantity'].hasError('required') && addBookForm.controls['quantity'].touched" class="error">Book Quantity required!</span>
                        </div>
                        <br>
                        <div>
                            <input type="submit" value="Add Book" class="btn btn-primary" [disabled]="!addBookForm.valid" >
                        </div>
                        <div>
                          <button class="btn btn-primary" [routerLink]="['/viewbook']" [queryParams]="{ userType: userType ,username:username }">View Books</button>
                        </div>
                    </form>
                </div>    
            </div>
            <div class="img">
              <img src="/assets/book.jpg">
            </div>
        </div>
      </div>
    </div>
    </main>



