<div class="container">
    <div class="row">
        <div class="form_bg">
            <h4>Add Book</h4>
            <form [formGroup]="addBookForm" (ngSubmit)="addBook()">

                <div class="form-group">
                    <input type="number" formControlName="id" placeholder="Id">
                    <span  *ngIf="addBookForm.controls['id'].hasError('required') && addBookForm.controls['id'].touched" class="error">Book id is required!</span>
                </div>
                <div class="form-group">
                    <input type="number" formControlName="isbn" placeholder="ISBN number">
                    <span  *ngIf="addBookForm.controls['isbn'].hasError('required') && addBookForm.controls['isbn'].touched" class="error">Book ISBN  required and MaxLength is 13 only!</span>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="title" placeholder="Title">
                    <span  *ngIf="addBookForm.controls['title'].hasError('required') && addBookForm.controls['title'].touched" class="error">Book title  required!</span>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="author" placeholder="Author">
                    <span  *ngIf="addBookForm.controls['author'].hasError('required') && addBookForm.controls['author'].touched" class="error">Book author  required!</span>
                </div>
                <div class="form-group">
                    <input type="number" formControlName="quantity" placeholder="Quantity">
                    <span  *ngIf="addBookForm.controls['quantity'].hasError('required') && addBookForm.controls['quantity'].touched" class="error">Book Quantity required!</span>
                </div>
                <br>
                <div>
                    <input type="submit" value="Add Book" class="btn btn-primary" [disabled]="!addBookForm.valid" >
                </div>
            </form>
        </div>
    </div>
</div>
