.container{
    display: flex;
    width: 100%;
}
.row{
    margin: 5% 0% ; 
    width: 100%;
}
.img{
    margin: 5% 0%;
}
form div{
    margin-bottom: 3%;
}
.error{
    color: red;
}
.btn{
    background-color:rgb(7, 73, 139) ;
    color: white;
    cursor: pointer;
}
.form_bg h4{
    color: rgb(7, 73, 139) ;
    margin-bottom: 4%;
}

@media screen and (max-width:650px) {
    .img{
       display: none;
    }
}