
.row{
    margin: 5% ;
    width: 50%;
}
form div{
    margin-bottom: 3%;
}
.error{
    color: red;
}
.btn{
    background-color:rgb(7, 73, 139) ;
    color: white;
    cursor: pointer;
}
.form_bg h4{
    color: rgb(7, 73, 139) ;
    margin-bottom: 4%;
}
.container{
    display: flex;
}
.img{
    margin-top: 10%;
}